* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

#nav {
    width: 100%;
}

#nav .nav-container {
    display: flex;
    padding: 16px 120px;
    align-items: center;
    justify-content: space-between;
}

.nav-container .nav-menu ul {
    display: flex;
    list-style: none;
    gap: 35px;
}

.nav-container .nav-menu a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000d9;

}

.btn button {
    background-color: #469165;
    border: none;
    padding: 12px 16px;
    color: white;
    border-radius: 4px;

}

#hero {
    width: 100%;
    background-image: url("../assets/hero-bg.png");
    height: 674px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .hero-container {
    width: 1360px;
    height: 379px;
    text-align: center;
    /* border: 2px solid red; */
}

.hero-container .hero-content .pera {
    width: 239px;
    height: 30px;
    background-color: white;
    color: #469165;
    margin: 0 auto;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    padding: 10px 14px;
    border-radius: 20px;
    margin-bottom: 16px;
}

.hero-container .hero-content h1 {
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    color: white;
    margin-bottom: 18px;
    text-align: center;
}

.hero-content h1 span {
    color: #30B868;
}
.hero-content .pera-2{
    display: block;
    font-size: 18px;
    line-height: 24px;
    color: #ffffffe0;
    margin-bottom: 30px;
}
.hero-container .button{
    display: flex;
    justify-content: center;
    gap: 15px;

}
.button .btn-one{
    display: inline-flex;
    align-items: center;
    padding: 16px;
    background-color: #469165;
    color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    border: none;
}
.button .btn-two{
    display: inline-flex;
    align-items: center;
    padding: 16px;
    background: none;
    border: 1px solid white;
    color: white;
    border-radius: 4px;
}
#notes{
    width: 1360px;
    margin: 0 auto;
    /* border: 1px solid red; */
}
#notes .note-header{
    text-align: center;
    margin-top: 50px;

}
#notes .note-header h2{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
}
#notes .note-header p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-top: 16px;
}
#notes .card-box{
    display: flex;
    height: 300px;
    /* border: 2px solid red; */
    align-items: center;
    gap: 24px;
    margin-top: 44px;
    
}
.card-box .card img{
    height: 60px;
    width: 60px;
    background-color:#FF5E5E;
    border-radius: 50%;
    padding: 14px;
    
}
.card-box .card{
    width: 322px;
    height: 300px;
    box-shadow: 0 0 8px 0 #0000001d;
    text-align: center;
    padding: 60px 30px;
    border-radius: 8px;
}
.card-box .card h3{
    margin-top: 16px;
    font-size: 24px;
    font-weight: 600;
    color: #001931;
}
.card-box .card p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-top: 16px;
}

#brain{
    width: 100%;
}
#brain .brain-container{
    margin: 120px auto;
    display: flex;
    width: 1360px;
    /* border: 1px solid red; */
    align-items: center;
    gap: 60px;
}
#brain .brain-container .brain-content{
    width: 700px;
    height: 396px;
}
.brain-content h2{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-top: 16px;
}
.brain-content p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-top: 16px;
}
.brain-content ul{
    margin-top: 40px;
}
.brain-content ul li {
    font-size: 16px;
    color: #001931;
    list-style: none;
    margin-top: 16px;
    display: flex;
    

}
.brain-content ul li img{
    width: 20px;
    height: 20px;
    margin-right: 6px;
}
.ready-container{
    width: 1360px;
    height: 384px;
    /* border: 1px solid red; */
    margin: 0 auto;
    text-align: center;
    background-color: #F7F6F2;
    border-radius: 12px;
    margin-bottom: 120px;
}
.ready-container .ready-content{
    padding-top: 80px;

}
.ready-content h2{
    font-size: 40px;
    font-weight: bold;
    color: #001931;
}
.ready-content p{
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    margin-top: 16px;
}
.ready-button button{
    display: inline-flex;
    align-items: center;
    padding: 16px;
    background-color: #469165;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    margin-top: 24px;
}
ul{
    display: flex;
    gap: 4px;
    justify-content: center;
    margin-top: 16px;
    color: #627382;

}
ul .list{
    list-style: none;
    margin-right: 20px;
}