* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

#nav {
    width: 100%;
}

#nav .nav-container {
    display: flex;
    padding: 16px 120px;
    align-items: center;
    justify-content: space-between;
}

.nav-container .nav-menu ul {
    display: flex;
    list-style: none;
    gap: 35px;
}

.nav-container .nav-menu a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000d9;

}

.btn button {
    background-color: #469165;
    border: none;
    padding: 12px 16px;
    color: white;
    border-radius: 4px;

}

#hero {
    width: 100%;
    background-image: url("../assets/hero-bg.png");
    height: 674px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .hero-container {
    width: 1360px;
    height: 379px;
    text-align: center;
    /* border: 2px solid red; */
}

.hero-container .hero-content .pera {
    width: 239px;
    height: 30px;
    background-color: white;
    color: #469165;
    margin: 0 auto;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    padding: 10px 14px;
    border-radius: 20px;
    margin-bottom: 16px;
}

.hero-container .hero-content h1 {
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    color: white;
    margin-bottom: 18px;
    text-align: center;
}

.hero-content h1 span {
    color: #30B868;
}
.hero-content .pera-2{
    display: block;
    font-size: 18px;
    line-height: 24px;
    color: #ffffffe0;
    margin-bottom: 30px;
}
.hero-container .button{
    display: flex;
    justify-content: center;
    gap: 15px;

}
.button .btn-one{
    display: inline-flex;
    align-items: center;
    padding: 16px;
    background-color: #469165;
    color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    border: none;
}
.button .btn-two{
    display: inline-flex;
    align-items: center;
    padding: 16px;
    background: none;
    border: 1px solid white;
    color: white;
    border-radius: 4px;
}